/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 
 * End of Reset
 */

html {
    font-family: sans-serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 0.8rem;
}
main {
    padding-top: 20px;
}
h1#latest-release {
 
    padding-left: 108px;
    margin-bottom: 46px;
}

div#sidebar {
    transition-property: width;
    transition-duration: 1.2s;
    transition-timing-function: ease-in-out;
 

    position: fixed;
    z-index: 2;
    background-color: black;
    width: 84px;
    height: 100vh;
}

div#sidebar:hover{
    width: 400px;
}

#sidebar nav {
    padding-top: 20px;
}

#sidebar nav ul {
    list-style: none;
}

#sidebar nav ul li {
    padding: 10px 0px 10px 20px;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
}

#sidebar nav ul li:hover {
    background-color: #D9D9D9;
    color: black;
}

#sidebar nav ul li a {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}


div#sidebar .menu-text {
    opacity: 0;
    transition: opacity 0.4s ease-in-out 0.5s;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    white-space: nowrap;
    color: white;
}

div#sidebar:hover .menu-text {
    opacity: 1;
}


section#banner {    
    overflow: auto;
    position: relative;

}

section#banner::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url("assets/png/Background.png"), linear-gradient(transparent 0%, transparent 90%, white 100%);
    background-blend-mode: overlay;
    background-repeat: no-repeat;

    filter: blur(4px);
    height: 216px;

    background-position: center;

    background-size: cover;
    width: 100%;


    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

div#banner-content {
    padding: 30px 60px 36px 140px;
    display: flex;
    gap: 90px;
}

div#banner-info {
    color: white;
}

h2#banner-heading {
    margin-top: 36px;
}

p#banner-artist {
    margin-top: 4px;
}

div#banner-buttons {
    margin-top: 22px;
}

div#banner-buttons button {

    color: white;
    padding: 1px 14px;
    background-color: black;
    border: none;
    border-radius: 20px;

    vertical-align: center;
    line-height: 18px;

}

section#music-filters {
    padding: 28px 0px 16px 200px;
    display: flex;
    gap: 50px;

}

.music-filter {
    box-sizing: border-box;
    padding: 0px 20px;
    width: 320px;
    height: 36px;
    border: 4px solid #D9D9D9;
    background: #D9D9D9;
    border-radius: 50px;

    font-size: 14px;
    line-height: 20px;

}

div#track-type-container {
    display: flex;
    justify-content: space-evenly;
}

button.filter-track-type {
    width: 160px;
    background: #D9D9D9;
    border: none;

}

button#type-typical {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 1px dotted black;
}

button#type-instrumental {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

section#music-selection {
 
    background-color: #F2F2F2;
    padding: 26px 40px 26px 126px;
}
output#selection-output {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    gap: 60px;
}

.song-container {
    width: 200px;
    display: flex;
    flex-direction: column;
}

div.song-container-info {
    padding: 4px;
}

h2.song-name {

    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.05em;


}

h3.artist-name {
    /* font-family: Kanit; */

    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

p.song-published {
    /* font-family: 'Rambla'; */
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-align: right;
}

div.song-container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

div.song-container-footer * {
    /* font-family: 'Rambla'; */
   
    letter-spacing: 0.05em;
    vertical-align: center;

    font-weight: 700;
    border-radius: 20px;
}


button.play-button {
    font-size: 10px;
    line-height: 12px;
    border: 1.7px solid #000000;
    height: 20px;
}

p.genre-label {

    background: #D9D9D9;
    border-radius: 100px;
    height: 16px;
    padding: 0px 6px;
    font-size: 10px;
    line-height: 15px;

}